<template name="topics">
	<div class="container">
		<div class="row title-holder" style= "background-image: url(http://res.cloudinary.com/showverse-meteor-com/image/upload/v1397224452/got_oaampu.jpg)">
			<div class="col-xs-8 desc-text">
				<h3>Breaking Bad</h3>
				<h4>Episode 5.09: Blood Money</h4>
				<h5>75 Members; 125 Discussions</h5>
			</div>
		</div>
		<div class="row nav-topics">
			<div class="col-xs-6">
				<ul class="nav nav-tabs" role="tablist">
				  <li class="active"><a href="#">Popular Topics</a></li>
				  <li><a href="#">Scenes</a></li>
				  <li><a href="#">Characters</a></li>
				</ul>
			</div>
			<div class="col-xs-6">
				<!-- Single button -->
				<div class="pull-right">			
					Filter by: 
					<div class="btn-group">
					  <button type="button" class="btn btn-default btn-rounded dropdown-toggle" data-toggle="dropdown">
					    Action <span class="caret"></span>
					  </button>
					  <ul class="dropdown-menu" role="menu">
					    <li><a href="#">Action</a></li>
					    <li><a href="#">Another action</a></li>
					    <li><a href="#">Something else here</a></li>
					    <li class="divider"></li>
					    <li><a href="#">Separated link</a></li>
					  </ul>
					</div>
					<button type="button" class="btn btn-primary btn-rounded">Add Topic</button>
				</div>

			</div>
		</div>
		<div class="row topics-boxes-holder">
			<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				<div class="well">
					<img class="img-responsive" src="/cap3.png" />
					<div class="text-block">				
						<h2>Jaw Dropper</h2>
						<h1>Tread Lightly</h1>
						<p>Pride gets the best of Walt, leading him to confront Hank in the garage.</p>
					</div>
					<div class="meta-block">
						<span class="number-discussions">15 Discussions</span>
						<i class="fa fa-comments"></i> 195 
						<i class="fa fa-share"></i> 75
						<i class="fa fa-user"></i> 75

					</div>

				</div>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				<div class="well">
					<img class="img-responsive" src="/cap3.png" />
					<div class="text-block">				
						<h2>Jaw Dropper</h2>
						<h1>Tread Lightly</h1>
						<p>Pride gets the best of Walt, leading him to confront Hank in the garage.</p>
					</div>
					<div class="meta-block">
						<span class="number-discussions">15 Discussions</span>
						<i class="fa fa-comments"></i> 195 
						<i class="fa fa-share"></i> 75
						<i class="fa fa-user"></i> 75

					</div>

				</div>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				<div class="well">
					<img class="img-responsive" src="/cap3.png" />
					<div class="text-block">				
						<h2>Jaw Dropper</h2>
						<h1>Tread Lightly</h1>
						<p>Pride gets the best of Walt, leading him to confront Hank in the garage.</p>
					</div>
					<div class="meta-block">
						<span class="number-discussions">15 Discussions</span>
						<i class="fa fa-comments"></i> 195 
						<i class="fa fa-share"></i> 75
						<i class="fa fa-user"></i> 75

					</div>

				</div>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				<div class="well">
					<img class="img-responsive" src="/cap3.png" />
					<div class="text-block">				
						<h2>Jaw Dropper</h2>
						<h1>Tread Lightly</h1>
						<p>Pride gets the best of Walt, leading him to confront Hank in the garage.</p>
					</div>
					<div class="meta-block">
						<span class="number-discussions">15 Discussions</span>
						<i class="fa fa-comments"></i> 195 
						<i class="fa fa-share"></i> 75
						<i class="fa fa-user"></i> 75

					</div>

				</div>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				<div class="well">
					<img class="img-responsive" src="/cap3.png" />
					<div class="text-block">				
						<h2>Jaw Dropper</h2>
						<h1>Tread Lightly</h1>
						<p>Pride gets the best of Walt, leading him to confront Hank in the garage.</p>
					</div>
					<div class="meta-block">
						<span class="number-discussions">15 Discussions</span>
						<i class="fa fa-comments"></i> 195 
						<i class="fa fa-share"></i> 75
						<i class="fa fa-user"></i> 75

					</div>

				</div>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				<div class="well">
					<img class="img-responsive" src="/cap3.png" />
					<div class="text-block">				
						<h2>Jaw Dropper</h2>
						<h1>Tread Lightly</h1>
						<p>Pride gets the best of Walt, leading him to confront Hank in the garage.</p>
					</div>
					<div class="meta-block">
						<span class="number-discussions">15 Discussions</span>
						<i class="fa fa-comments"></i> 195 
						<i class="fa fa-share"></i> 75
						<i class="fa fa-user"></i> 75

					</div>

				</div>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				<div class="well">
					<img class="img-responsive" src="/cap3.png" />
					<div class="text-block">				
						<h2>Jaw Dropper</h2>
						<h1>Tread Lightly</h1>
						<p>Pride gets the best of Walt, leading him to confront Hank in the garage.</p>
					</div>
					<div class="meta-block">
						<span class="number-discussions">15 Discussions</span>
						<i class="fa fa-comments"></i> 195 
						<i class="fa fa-share"></i> 75
						<i class="fa fa-user"></i> 75

					</div>

				</div>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				<div class="well">
					<img class="img-responsive" src="/cap3.png" />
					<div class="text-block">				
						<h2>Jaw Dropper</h2>
						<h1>Tread Lightly</h1>
						<p>Pride gets the best of Walt, leading him to confront Hank in the garage.</p>
					</div>
					<div class="meta-block">
						<span class="number-discussions">15 Discussions</span>
						<i class="fa fa-comments"></i> 195 
						<i class="fa fa-share"></i> 75
						<i class="fa fa-user"></i> 75

					</div>

				</div>
			</div>


		</div>

	</div>
</template>