<template name="topics">
	<div class="container">
		<div class="row title-holder" style= "background-image: url(http://res.cloudinary.com/showverse-meteor-com/image/upload/v1397224452/got_oaampu.jpg)">
			<div class="col-xs-8 desc-text">
				<h3>Breaking Bad</h3>
				<h4>Episode 5.09: Blood Money</h4>
				<h5>75 Members; 125 Discussions</h5>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-3"><div class="well"><img src="/cap.png" /></div></div>
			<div class="col-xs-3"><div class="well">This is me</div></div>
			<div class="col-xs-3"><div class="well">This is me</div></div>
			<div class="col-xs-3"><div class="well">This is me</div></div>
			<div class="col-xs-3"><div class="well">This is me</div></div>
			<div class="col-xs-3"><div class="well">This is me</div></div>
			<div class="col-xs-3"><div class="well">This is me</div></div>
			<div class="col-xs-3"><div class="well">This is me</div></div>


		</div>
	</div>
</template>